version: '3'
services:
  frontend:
    build: frontend
    # Node.jsのグローバル変数です。開発用途なのでdevelopmentを指定します。
    environment:
      - NODE_ENV=development
    volumes:
      - ./frontend/app:/usr/src/app
      # node_modulesを無視する。
      - /usr/src/app/node_modules
    ports:
      - 5173:5173
    tty: true